apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cast-cnpg

resources:
  - ../../../bases/prod/


patches:
  - path: backend-db-patch.yaml
  - path: probes-patch.yaml

labels:
  - pairs:
      app.kubernetes.io/environment: prod
      app.kubernetes.io/instance: cast-cnpg
    includeSelectors: true
