apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cast-cnpg

resources:
  - ../../../bases/prod

patches:
  # Patch to modify the database secret for CNPG
  - path: db-secret-patch.yaml
  
  # Remove the Ingress resource from the production base
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: cast-ingress
    patch: |-
      - op: remove
        path: /spec

labels:
  - pairs:
      app.kubernetes.io/environment: prod
      app.kubernetes.io/instance: cast-cnpg
    includeSelectors: true
    includeTemplates: true