apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cast-cnpg

resources:
  - ../../../bases/qa

patches:
  - path: db-secret-patch.yaml
   
  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: cast-ingress
    patch: |-
      - op: remove
        path: /spec

labels:
  - pairs:
      app.kubernetes.io/environment: qa
      app.kubernetes.io/instance: cast-cnpg
    includeSelectors: true
    includeTemplates: true